{% extends "layouts/default.njk" %}

{% block content %}

  <section class="container">
    <div class="row">
      <div class="col-sm-6 offset-sm-3">
        <h1>{{ title }}</h1>
        <form action="/" method="get">
          <div class="form-group">
            <label for="email">Search</label>
            <input type="text" name="q" id="q" class="form-control" placeholder="type name of song" value="{{query}}" required>
          </div>
          <button type="submit" class="btn btn-primary">Search</button>
        </form>


      </div>
    </div>


    <div class="row">
      <div class="col-sm-6 offset-sm-3">
        <hr>

        {% if rows.length > 0 %}
          <h2>Results</h2>
          {% for track in rows %}
            <div class="card mb-3">
              <div class="card-body">
                <h5 class="card-title">{{ track.name }}</h5>
              <p class="card-text">Album: {{ track.album_title }}</p>
              <p class="card-text">Artist: {{ track.artist_name }}</p>
              </div>
            </div>
          {% endfor %}
        {% else %}
          <h2>No results</h2>
        {% endif %}
      </div>
    </div>


    </section>
  

  
{% endblock %}